# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform working directory
.terraform/

# Terraform lock file
!.terraform.lock.hcl

# OS files
.DS_Store

# Terraform
*.tfstate.*
k8s/**/secret.yaml
